<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" routerLink="">Agri Connect</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="" routerLink=""
            >Home</a
          >
        </li>
      </ul>
      <a
        class="nav-link btn btn-success btn-lg px-4 py-2 text-white"
        href=""
        routerLink="/login"
        >Login</a
      >
    </div>
  </div>
</nav>

<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Sign Up</h3>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="signUpForm">
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [class.error]="
                    signUpForm.controls['firstName'].dirty &&
                    signUpForm.hasError('required', 'firstName')
                  "
                >
                  <span class="fa fa-user p-2"></span>
                  <input
                    formControlName="firstName"
                    type="text"
                    placeholder="First Name"
                  />
                </div>
              </div>
              <small
                *ngIf="
                  signUpForm.controls['firstName'].dirty &&
                  signUpForm.hasError('required', 'firstName')
                "
                class="text-danger"
                >*First Name is required</small
              >
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [class.error]="
                    signUpForm.controls['lastName'].dirty &&
                    signUpForm.hasError('required', 'lastName')
                  "
                >
                  <span class="fa fa-user p-2"></span>
                  <input
                    formControlName="lastName"
                    type="text"
                    placeholder="Last Name"
                  />
                </div>
              </div>
              <small
                *ngIf="
                  signUpForm.controls['lastName'].dirty &&
                  signUpForm.hasError('required', 'lastName')
                "
                class="text-danger"
                >*Last Name is required</small
              >
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [class.error]="
                    signUpForm.controls['email'].dirty &&
                    signUpForm.hasError('required', 'email')
                  "
                >
                  <span class="fa fa-user p-2"></span>
                  <input
                    formControlName="email"
                    type="text"
                    placeholder="Email"
                  />
                </div>
              </div>
              <small
                *ngIf="
                  signUpForm.controls['email'].dirty &&
                  signUpForm.hasError('required', 'email')
                "
                class="text-danger"
                >*Email is required</small
              >
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [class.error]="
                    signUpForm.controls['username'].dirty &&
                    signUpForm.hasError('required', 'username')
                  "
                >
                  <span class="fa fa-user p-2"></span>
                  <input
                    formControlName="username"
                    type="text"
                    placeholder="Username"
                  />
                </div>
              </div>
              <small
                *ngIf="
                  signUpForm.controls['username'].dirty &&
                  signUpForm.hasError('required', 'username')
                "
                class="text-danger"
                >*Username is required</small
              >
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [class.error]="
                    signUpForm.controls['role'].dirty &&
                    signUpForm.hasError('required', 'role')
                  "
                >
                  <span class="fa fa-user p-2"></span>
                  <select
                    formControlName="role"
                    class="form-select"
                    aria-label="Role"
                  >
                    <option value="" disabled selected>Select Role</option>
                    <option value="Vendor">Vendor</option>
                    <option value="Supplier">Supplier</option>
                  </select>
                </div>
              </div>
              <small
                *ngIf="
                  signUpForm.controls['role'].dirty &&
                  signUpForm.hasError('required', 'role')
                "
                class="text-danger"
                >*Role is required</small
              >
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [class.error]="
                    signUpForm.controls['password'].dirty &&
                    signUpForm.hasError('required', 'password')
                  "
                >
                  <span class="fa fa-lock p-2"></span>
                  <input
                    formControlName="password"
                    [type]="type"
                    placeholder="Password"
                  />
                  <span (click)="hideShowPass()" class="fa fa-eye-slash"></span>
                </div>
              </div>
              <small
                *ngIf="
                  signUpForm.controls['password'].dirty &&
                  signUpForm.hasError('required', 'password')
                "
                class="text-danger"
                >*Password is required</small
              >
              <button
                (click)="onSignup()"
                type="submit"
                class="btn btn-primary btn-block mt-4 w-100 btn-sb"
              >
                Sign Up
              </button>
              <div class="text-center pt-4 text-muted">
                Already have an account?
                <a id="forget" routerLink="/login">Login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
