body {
  font-family: var(--font-base);
  line-height: 1.7;
  color: #727272;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
  color: #212529;
}

a {
  text-decoration: none;
  color: #79a955;
  transition: #a5d68c;
}

a:hover {
  color: #a5d68c;
}

img {
  max-width: 100%;
  height: auto;
}

.section-padding {
  padding-top: 140px;
  padding-bottom: 140px;
}

.theme-shadow {
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
}

/* IMAGE ZOOM */
.image-zoom {
  position: relative;
  overflow: hidden;
}

.image-zoom-wrapper img {
  transition: all 0.5s ease;
}

.image-zoom:hover .image-zoom-wrapper img {
  transform: scale(1.1);
}

/* NAVBAR */
.navbar {
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
}

.navbar-nav .nav-link {
  font-weight: 500;
  color: #212529;
}

.navbar-nav .nav-link-active {
  color: #79a955;
}

/* BTN */
.btn {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px;
}

.btn-brand {
  background-color: #79a955;
  border-color: #79a955;
  color: white;
}

.btn-brand:hover {
  background-color: #a5d68c;
  border-color: #a5d68c;
  color: white;
}

/* HERO */
#hero {
  background: linear-gradient(rgba(56, 142, 60, 0.5), rgba(104, 159, 56, 0.5)),
    url("~src/assets/images/agri-connect-hero.jpg");
  background-position: center;
  background-size: cover;
}

/* SECTION TITLE */
.section-title {
  margin-bottom: 60px;
}

.section-title .line {
  width: 60px;
  height: 4px;
  background-color: #79a955;
  margin: 16px auto 24px auto;
}

.section-title p {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

/* ICONBOX */
.iconbox {
  width: 70px;
  height: 70px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 128, 0, 0.1);
  color: #79a955;
  font-size: 34px;
  float: none;
}

/* SERVICES */
.service {
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.service::after {
  content: "";
  width: 40px;
  height: 40px;
  background-color: rgba(0, 128, 0, 0.1);
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all 0.5s ease;
}

.service:hover::after {
  width: 100%;
  height: 100%;
  background: #79a955;
  z-index: -1;
}

.service:hover h5,
.service:hover p {
  color: white;
}

.service:hover .iconbox {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

/* COUNTER */
#counter {
  background: linear-gradient(rgba(56, 142, 60, 0.8), rgba(104, 159, 56, 0.8)),
    url("~src/assets/images/counter.jpg");
  background-position: center;
  background-size: cover;
}

/* REVIEW */
.review small {
  font-weight: 600;
  text-transform: uppercase;
  color: #79a955;
}

.review-head {
  position: relative;
}

.review-head::after {
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  bottom: -14;
  background-color: white;
  transform: rotate(45deg);
}

.image-dimensions {
  width: 75px;
  height: 75px;
}

/* CONTACT */
#contact {
  position: relative;
  z-index: 2;
}

#contact::after {
  content: "";
  width: 100%;
  height: 70%;
  background: linear-gradient(rgba(56, 142, 60, 0.5), rgba(104, 159, 56, 0.5)),
    url("~src/assets/images/counter.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#contact .form-control {
  border-radius: 0;
}

#contact .form-control:focus {
  box-shadow: none;
  border-color: #79a955;
}

/* FOOTER */
footer {
  padding-top: 100px;
}

.footer-top {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-bottom {
  padding-top: 40px;
  padding-bottom: 40px;
}

footer li,
footer p,
footer a {
  color: rgba(255, 255, 255, 0.7);
}

footer ul {
  list-style-type: none;
}

footer .line {
  width: 40px;
  height: 4px;
  background-color: #79a955;
  margin-top: 12px;
  margin-bottom: 24px;
}

.social-icons a {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100px;
}

.social-icons a:hover {
  background-color: #79a955;
  color: white;
}
