<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" routerLink="">Agri Connect</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            href=""
            routerLink="/supplier-products"
            >Products</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            href=""
            [routerLink]="'/supplier-transactions/' + fullName"
            >My Transactions</a
          >
        </li>
      </ul>
      <span class="px-2">Welcome {{ fullName }}</span>
      <a
        class="nav-link btn btn-danger btn-lg px-4 py-2 text-white"
        href=""
        (click)="logout(); (false)"
        >Logout</a
      >
    </div>
  </div>
</nav>

<div class="container">
  <table
    *ngIf="supplierTransactions && supplierTransactions.length > 0"
    class="table table-striped table-hover table-bordered"
  >
    <thead>
      <tr>
        <th>Transaction Id</th>
        <th>Supplier Name</th>
        <th>Product Name</th>
        <th>Product Quantity</th>
        <th>Cost</th>
        <th>Transaction Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let supplierTransaction of supplierTransactions">
        <td>{{ supplierTransaction.id }}</td>
        <td>{{ supplierTransaction.supplierName }}</td>
        <td>{{ supplierTransaction.productName }}</td>
        <td>{{ supplierTransaction.productQuantity }}</td>
        <td>{{ supplierTransaction.cost }}</td>
        <td>
          {{
            supplierTransaction.transactionDate | date : "dd/MM/yyyy HH:mm:ss"
          }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
